body {
    background-color: #1B3C53;
}


main {
    background-color: #456882;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-content: center;
    margin-top: 60px;
    padding: 2%;
    border-radius: 10px;
}

form {
    background-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-container {
    display: flex;
    justify-content: space-between;
}

#todo-list {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

table {
    table-layout: fixed;
}